@import "tailwindcss";

:root {
  background: #ffffff;
  --primary: #0bab7d;
}

@theme inline {
  --color-primary: var(--primary);
  --font-inter: "Inter", sans-serif;
  --font-family: var(--font-inter);
}

body {
  background: var(--background);
  font-family: var(--font-family);
}
